@model AgileFood.Models.Fornecedores

@{
    ViewBag.Title = "Detalhes do Funcionário";
}

<br />

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nome")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pessoa.Nomes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.FornecedoresId }, new { @class="btn btn-warning btn-sm"}) |
    @Html.ActionLink("Voltar lista", "Index", null, new { @class = "btn btn-success btn-sm" })
</p>
